@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}


/** Informacion de contacto y educación */
.container .lado_izquierdo {
    position: relative;
    background: linear-gradient(-45deg, #000042, #00006b, #000080, #000042, #000094, #0000bd, black);
    padding: 40px;
    animation: movimiento 20s ease-in infinite;
    background-size: 500%;
}

@keyframes movimiento {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.imagen_perfil {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 0.5rem #808000;
    overflow: hidden;
}

.perfil .imagen_perfil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil h2 {
    color: #808000;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.perfil h2 span {
    color: #808000;
    font-size: 0.8em;
    font-weight: 300;
}

.info_contacto {
    padding-top: 40px;
}

.titulo {
    color: #DFDFEF;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.titulo a {
    color: #DFDFEF;
    text-decoration: none;
}

.info_contacto ul {
    position: relative;
}

.info_contacto ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}

.info_contacto ul li .icono {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.info_contacto ul li span {
    color: #fff;
    font-weight: 300;
}

.info_contacto ul li span:hover {
    color: aqua;
}

.info_contacto.educacion li {
    margin-bottom: 15px;
}

.info_contacto.educacion h5 {
    color: #03a9f4;
    font-weight: 500;
}

.info_contacto.educacion h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.info_contacto.educacion h4 {
    color: #fff;
    font-weight: 300;
}

.info_contacto.lenguajes .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.info_contacto.lenguajes .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}


/** Habilidades, experiencia e intereses */

.container .lado_derecho {
    position: relative;
    background: #fff;
    padding: 40px;
}

.sobre_mi {
    margin-bottom: 50px;
}

.sobre_mi:last-child {
    margin-bottom: 0;
}

.titulo2 {
    color: #202090;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.sobre_mi .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.sobre_mi .box .anios_trabajados {
    min-width: 150px;
}

.sobre_mi .box .anios_trabajados h5 {
    text-transform: uppercase;
    color: #9F9FCF;
    font-weight: 600;
}

.sobre_mi .box .text h4 {
    text-transform: uppercase;
    color: #9F9FCF;
    font-size: 16px;
}

.habilidades .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.habilidades .box h4 {
    text-transform: uppercase;
    color: #9F9FCF;
    font-weight: 500;
}

.habilidades .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.habilidades .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.intereses ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.intereses ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.intereses ul li .fa {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px) {
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }

    .intereses ul {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px) {
    .sobre_mi .box {
        flex-direction: column;
    }

    .sobre_mi .box .años_trabajados {
        margin-bottom: 5px;
    }

    .intereses ul {
        grid-template-columns: repeat(1,1fr);
    }

    .habilidades .box {
        grid-template-columns: repeat(1,1fr);
    }
}